*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc {
    height: 480px;
    width: 370px;
    background-color: lightgray;
    margin:auto;
}
#screen{
  height:60px;
  width: 80%;
  pointer-events: none;
  margin-left: 10%;
  margin-top: 30px;    
  border: none;
}
.btn{
  height: 42px;
  width:58px ;
  background-color: bisque;
  margin-left: 25px;
  margin-top: 30px;
}       
       